a {
	color: #245d9a;
    transition: color 0.1s linear;
}
/* a:visited {
    text-decoration: none;
    color: inherit;
} */
a:hover {
    color: #007bff;
    text-decoration: none;
    border-bottom: 1px solid #007bff;
}
/* a:focus {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
} */